Contact ({{ contact.id.0.value }})

<h1>{{ contact.first_name.0.value }} {{ contact.last_name.0.value }}</h1>

<h2>Event History</h2>
<a href="/admin/sessions?contact_id={{ contact.id.0.value }}">view all sessions</a>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Last IP</td>
        <td>{{ contact.ip.0.value }}</td>
    </tr>
    <tr>
        <td>Raw</td>
        <td>{{ contact.raw.0.value }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>ID</th>
        <th>CHANGED</th>
        <th>SESSION ID</th>
        <th>CONTACT ID</th>
        <th>TRACKING ID</th>
        <th>IP</th>
        <th>URL</th>
    </tr>
    {% for event in events %}
        <tr>
            <td>{{ event.id.0.value }}</td>
            <td>{{ event.changed.0.value|date("d.m.Y H:i:s") }}</td>
            <td>{{ event.session_id.0.value }}</td>
            <td>{{ event.contact_id.0.value }}</td>
            <td>{{ event.tracking_id.0.value }}</td>
            <td>{{ event.ip.0.value }}</td>
            <td>{{ event.title.0.value }}<br>{{ event.href.0.value }}</td>
        </tr>
    {% endfor %}
</table>